.high, .medium, .low {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
  }
  
  .high {
    background-color: #FF0000;
  }
  
  .medium {
    background-color: #FFA500;
  }
  
  .low {
    background-color: #FFFF99;
  }
  
  .container {
    display: flex;
    flex-direction: column;
  }
  
  .legendItem {
    display: flex;
    align-items: center;
    gap: 8px; 
  }

  p {
    margin: 0;
  }
  