.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
  color: #ffffff;
}

.heading {
  text-align: center;
  color: #f0f0f0;
}



.satelliteSection {
  margin-top: 3rem;
}

.subheading {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  font-weight: 400;
  text-align: center;
  color: #e0e0e0;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem; 
  justify-items: center;
}
