body.active-modal {
    overflow: hidden !important; 
    height: 100vh; 
  }
  
  .modal,
  .overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
  }
  
  .overlay {
    background: rgba(49, 49, 49, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modalContent {
    position: relative;
    line-height: 1.4;
    background: #f1f1f1;
    padding: 20px 30px;
    border-radius: 8px;
    max-width: 600px;
    min-width: 300px;
    z-index: 1010; 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  }
  
  .closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .closeModal:hover {
    background-color: #e74c3c;
  }
  
  .reportBtn {
    background-color: #ff5733;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .reportBtnContainer {
    display: flex;
    justify-content: center;
  }
  
  .reportBtn:hover {
    background-color: #e74c3c;
  }
  