/*Section 4: Footer*/

.footer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.footerFlex{
    height: 110px;
    background: #252525;
    display: flex;
    gap: 20px;
    justify-content: center;
}



.logo{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    align-items: center;
}

.logo>img{
    width: 50px;
}
.logo>h5{
    margin-top: 15px;
    margin-left: 5px;
}

.lineLeft,.lineRight{
    height: 50px;
    width: 60px;
    align-self: center;
    justify-self: center;
    margin-top: 50px;
    border-top-style: solid;
}

