nav {
  background-color: #252525;
  color: white;
  padding: 1em 0;
  display: flex;
  align-items: center;
  position: relative;
}

.logoLink {
  display: flex;
  align-items: center;
  position: absolute;
  left: 20px;
}

.logo {
  width: 50px;
  height: auto;
}

.logoLink:hover svg path, 
.logoLink.active svg path {
  fill: rgb(185, 67, 43); /* This will work as expected now */
}

.navItems {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.navItems li {
  margin: 0 1em;
}

.navItems li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  padding: 0.5em 1em;
}

.navItems li a:hover,
.navItems li a.active {
  color: rgb(185, 67, 43);
  transition: color 0.3s;
}
