/* General nav styles */
nav {
  background-color: #252525;
  color: white;
  padding: 1em 0;
  display: flex;
  align-items: center;
  position: relative;
}

/* Logo link */
.logoLink {
  display: flex;
  align-items: center;
  position: absolute;
  left: 20px;
}

.logo {
  width: 40px;
  height: auto;
}

/* Default color for logo with transition effect */
.logoLink svg path {
  fill: white; /* Default color for the logo */
  transition: fill 0.3s; /* Smooth transition for fill color change */
}

/* Hover and active state for logo */
.logoLink:hover svg path, 
.logoLink.active svg path {
  fill: rgb(185, 67, 43); /* Hover and active color */
}


/* Nav items (other links) */
.navItems {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.navItems li {
  margin: 0 1em;
}

/* Default color for nav links */
.navItems li a {
  color: white; /* Default color for nav links */
  text-decoration: none;
  font-size: 1.2em;
  padding: 0.5em 1em;
  transition: color 0.3s; /* Smooth transition for color change */
}

/* Hover and active state for nav links */
.navItems li a:hover,
.navItems li a.active {
  color: rgb(185, 67, 43); /* Hover and active color for nav links */
}
